:root {
  --primary-color: grey;
  --primary-bg: rgba(253, 223, 101, 1);
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg);
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 20px var(--primary-color);
}

header h1 {
  width: 80%;
  text-align: left;
  margin-left: 50px;
}

header h1 a {
  font-size: 40px;
  letter-spacing: 5px;
  color: #333;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 3px 3px 1px var(--primary-color);
}

nav ul {
  display: block;
  padding: 0;
  box-shadow: 3px 3px 1px var(--primary-color);
}

nav ul li {
  width: 150px;
  padding: 10px 5px;
  text-align: center;
  display: inline-block;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  display: block;
  color: rgb(20, 20, 20);
}

nav ul li .dropDown {
  display: none;
}

nav ul:hover li .dropDown {
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -5px;
}

nav ul li .dropDown li {
  display: block;
  box-shadow: 3px 3px 1px var(--primary-color);
}

nav ul li .dropDown li a {
  display: block;
}

main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  color: black;
  text-shadow: 3px 3px 1px white;
  font-size: 40px;
}

@media (min-width: 425px) {
  body {
    width: 100%;
    height: 100vh;
    background: var(--primary-bg);
  }

  header {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    width: 30%;
  }

  nav ul {
    position: relative;
    right: 10px;
    display: block;
  }

  nav ul li {
    display: inline-block;
    width: 150px;
  }

  nav ul li a {
    display: block;
  }

  nav ul li a:hover {
    display: block;
  }

  nav ul li .dropDown {
    display: none;
  }

  nav ul li:hover .dropDown {
    display: block;
  }

  nav ul li:hover .dropDown li {
    display: block;
  }

  nav ul li .dropDown li a {
    display: block;
  }
}
